<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>

             <li class="text-muted">客服二维码</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                        <div class="row" >
                            <div class="col-xs-12" >
                                <form action="{:U('User/ewm_upload')}" method="post" class="form-horizontal form form-builder">
									<div class="form-type-list">
										出入金客服二维码设置
									   <hr style="margin-top: 0px;width: 100%">
									   <div class="form-group item_config[WEB_SITE_TITLE] ">
											<label class="left control-label">入金客服二维码：</label>
											<div style="width:50%" class="input-group">
												<input type="file" name="img" id="img" class="form-control"/>
												<input type="hidden" id="img_1">
											</div>
										</div>
										<div class="form-group item_config[WEB_SITE_TITLE] ">
											<label class="left control-label">出金客服二维码：</label>
											<div style="width:50%" class="input-group">
												<input type="file" name="img2" id="img2" class="form-control"/>
												<input type="hidden" id="img_2">
											</div>
										</div>
										<div class="form-group"></div>
										<div class="form-group bottom_button_list">
											<a class="btn btn-primary submit ajax-post" onclick="submit();">确定</a>
											<a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>                   
	</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
	<script type="text/javascript">
		$("#img").on('change', function (e) {
			var reader = new FileReader();
			reader.onload = function (e) {
				var imgBase = reader.result;
				$('#img_1').val(imgBase);
			}
			reader.readAsDataURL(this.files[0])
		});
		$("#img2").on('change', function (e) {
			var reader = new FileReader();
			reader.onload = function (e) {
				var imgBase = reader.result;
				$('#img_2').val(imgBase);
			}
			reader.readAsDataURL(this.files[0])
		});
		
		function submit(){
			var img = $('#img_1').val();
			var img_2 = $('#img_2').val();
			$.post("{:U('User/ewm_upload')}", {'img': img, 'img_2': img_2}, function(res){
				alert(res.message);
			});
		}
	</script>
</block>